__pycache__
MANIFEST
build
dist
htmlcov
*.pyc
.cache
.coverage
.pytest_cache
qc2champ.egg-info
venv
CN3_GAMESS02_CAS.xyz
CN3_cn5-c2v-BFD-Da-cas610_sym2.xyz
CN3_sample_acrolein_cas.sym
CN3_sample_acrolein_cas.xyz
CN3_sample_acrolein_cas2.xyz
CN3_sample_h2_rasscf.xyz
CN3_thiophene-c2v-augt-casscf-sa3-geo-cc3.xyz
GAMESS02_CAS.txt
bin/
cn5-c2v-BFD-Da-cas610_sym2.out
lib/
output
output.xyz
output2
rhf_c2v-BFD-Da.out
sample_acrolein_cas2.out
thiophene-c2v-augt-casscf-sa3-geo-cc3.out
trex/
temp
MOLCAS_*
